{% extends 'base.html.twig' %}

{% block title 'Liste des questions' %}

{% block body %}
    <div class="container mt-5">
        <h1>Liste des questions</h1>

        <table class="table table-striped mt-4">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Email</th>
                <th>Question</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for question in questions %}
                <tr>
                    <td>{{ question.name }}</td>
                    <td>{{ question.email }}</td>
                    <td>{{ question.content }}</td>
                    <td>
                        {% if question.isTreated == 0 %}
                            <a class="btn btn-success text-white" href="{{ path('question.treat', {id: question.id}) }}">Traiter</a>
                        {% else %}
                            <label class="text-success">Traitée</label>
                        {% endif %}
                        <a class="btn btn-danger text-white" href="{{ path('question.delete', {id: question.id}) }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-info mt-2" href="{{ path('home') }}">Retour</a>
    </div>
{% endblock %}